@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 9999px;
  }

  :root {
    --scrollbar-thumb: theme(--color-neutral-300);
  }

  .dark {
    --scrollbar-thumb: theme(--color-neutral-700);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
  }

  body {
    scrollbar-gutter: stable;
  }
}
